.background-image {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(https://wallpapercave.com/wp/hVbK4WE.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper {
    width: 420px;
    height: 450px;
    background: transparent;
    border: 2px solid grey;
    box-shadow: 0 0 10px;
    border-radius: 20px;
    color: white;
    padding: 40px;
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: white;
  }
  .input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
  }
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    padding: 15px;
    color: white;
  }
  .remember-forgot label input{
    accent-color: white;
    margin-right: 4px;
  }
  .remember-forgot a{
    color: white;
    text-decoration: none;
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
  }
  .wrapper .register-link {
    text-align: center;
    position: relative;
    bottom: 350px;
  }
  
  .register-link p, a{
    color: white;
    text-decoration: none;
  }
  .register-link a:hover{
    text-decoration: underline;
  }