nav{
  background-color: white;
  font: 14px;
  padding: 5px;
  color: white;
}
.nav-link{
  width: 20%;
  display: block;
  float: left;
  text-decoration: none;
  color: black;
}
.vehicles {
  color: black;
}
.dropdown{
  position: relative;
  display: block;
  float: right;
  right: 200px;
}
.drop-btn{
  background-color: white;
  border: none;
  cursor: pointer;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  right: 1px;
}
p{
  position: relative;
  top: 450px;
}
.dropdown-content a {
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover{
  background-color: gray;
}
.dropdown:hover .dropdown-content{
  display: flex;
}
img {
  border-radius: 30px;
}