* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.registration-page{
    background: url("https://blog.verisign.com/wp-content/uploads/Verisign-SRS-25-Year-Retrospective.png"), no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    align-items: center;


}
.wrapper {
    width: 100%;
    height: 600px;
    border: 5px solid black;
    margin: 10px;
    align-items: center;
    background: transparent;
    color: black;
    border-radius: 20px;
    padding: 16px;
    
}

.wrapper h1 {
    text-align: center;
    font-size: 36px;
}

.reg-input{
   position: relative;
   width: 30%;
   height: 50px;
   margin: 30px 0;
   padding: 5px;
   color: white;
   display: block;
   float: left;
   text-align: center;
}

.reg-input input{
    width: 100%;
    height: 100%;
    background: white;
    font-size: 20px;
    color: black;
}
.wrapper button{
    width: 50%;
    height: 40px;
    border-radius: 25px;
    font-weight: 700px;
    border: none;
    outline: none;
    background: white;
    box-shadow : 0 0 10px black;
    margin: 20px solid black;
    position: relative;
    top: 50px;
    left: 300px;
}
input.input-error,
select.input-error{
    border-color: red;
}
.error-message{
    width: 50%;
    color: red;
    font-size: 1.2em;
    margin-top: 5px;
    position: relative;
    top: 10px;
    left: 150px;
}
button:disabled{
    opacity: .35;
}