.vehicles {
    padding: 5px solid pink;
}
.column {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    display: block;
}

.column img {
    width: 250px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
}

span {
    display: block;
    padding: 5px;
    color: white;
}

span .book-btn{
    width: 200px;
    height: 25px;
    border-radius: 3px;
}

span .book-btn:hover{
    background-color: grey;
    cursor: pointer;
}