.vehicle-info{
    background:url(https://img.lovepik.com/background/20211021/large/lovepik-science-and-technology-information-technology-background-image_400112393.jpg);
    background-size: cover;
    
    min-height: 100vh;
}
.img-details{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
}

.details{
    text-align: center;
    padding: 5px;
}
.book-btn{
    width: 30%;
    height: auto;
    margin: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
}
