.column {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    display: block;
}

.column img {
    width: 250px;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
}

span {
    display: block;
    padding: 5px;
    color: white;
}